@import "frappe-ui/src/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: var(--ink-gray-9);
  margin: 0;
  padding: 0;
}

/* Hide scrollbar utility */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
